<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/includes/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Về chúng tôi</title>
</head>
<body class="page-sub-page page-blog-listing" id="page-top">
<div layout:fragment="page-content">
    <!-- Page Content -->
    <div class="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>
                <li class="active">Về chúng tôi</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->
        <div class="container">
            <div class="row">
                <!-- About Us -->
                <div class="col-md-12 col-sm-12">
                    <section id="about-us">
                        <header><h1>Về chúng tôi</h1></header>
                        <section id="ceo-section" class="center">
                            <header class="center">
                                <div class="cite-title">Cung cấp dịch vụ từ năm 2019</div>
                            </header>
                            <div class="cite no-bottom-margin">
                                Thay vì trước đây bạn chỉ có thể tìm khách hàng thông qua các kênh thủ công như: qua
                                người quen, gọi điện thoại, phát tờ rơi, căng biển quảng cáo, vừa mất nhiều công sức,
                                phạm vi hẹp mà đôi khi khó tư vấn vì không hiểu rõ nhu cầu của khách hàng.

                                Nhưng với website bất động sản mọi vấn đề đó sẽ được khắc phục hoàn toàn. Bạn có thể mở
                                rộng phạm vi quảng cáo nhanh chóng tùy theo nhu cầu. Khách hàng có thể tự tìm đến bạn
                                qua việc gõ các truy vấn lên các công cụ tìm kiếm, điều này khiến bạn nhắm đúng vào đối
                                tượng mục tiêu.
                            </div>
                            <hr class="divider">
                            <a href="agent-detail.html" class="image"><img alt="" src="assets/img/agent-01.jpg"></a>
                            <a href="agent-detail.html"><h3>Ngô Bá Hùng</h3></a>
                            <figure class="subtitle">Giáo viên hướng dẫn - CEO</figure>
                            <div class="background-image"><img alt="" src="assets/img/about-us-bg.jpg"></div>
                        </section><!-- /#ceo-section -->
                        <div class="divider-image center"><img alt="" src="assets/img/sine-wave.png"></div>
                        <section id="our-team">
                            <header class="center"><h2 class="no-border">Sinh viên thực hiện</h2></header>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt=""
                                                                                       src="assets/img/member-02.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Hà Huỳnh Mai Thy</h3></a>
                                            <figure class="subtitle">Sinh viên</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">hhmthy08@gmail.com</a></dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt=""
                                                                                       src="assets/img/member-03.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Lê Thiện Khiêm</h3></a>
                                            <figure class="subtitle">Sinh Viên</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">lkhiem@gmail.com</a></dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt=""
                                                                                       src="assets/img/member-04.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Lưong Hoàng Quí</h3></a>
                                            <figure class="subtitle">Sinh Viên</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">lhquy@gmail.com</a></dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </section><!-- /#our-tem -->
                    </section><!-- /#about-us -->
                </div><!-- /.col-md-12 -->
                <!-- end About Us -->
                <!-- Sidebar goes here -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
</div>
</body>
</html>