<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{includes/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Xem tin BĐS</title>
</head>
<body class="page-sub-page page-listing-lines page-search-results" id="page-top">
<div layout:fragment="page-content">
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Xem tin BĐS</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Results -->
                <div class="col-md-9 col-sm-9">
                    <section id="results">
                        <header><h1>Danh sách tin BĐS</h1></header>

                        <!--Filter in news-->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-6 offset-md-6"></div>
                            <div class="col-md-2 ml-md-auto">
                                <div class="sorting">
                                    <div class="form-group">
                                        <select name="sorting">
                                            <option value="">Loại tin</option>
                                            <option value="1">Bán</option>
                                            <option value="2">Cho thuê</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                            <div class="col-md-2 ml-md-auto">
                                <div class="sorting">
                                    <div class="form-group">
                                        <select name="sorting">
                                            <option value="">Tình trạng</option>
                                            <option value="1">Cũ</option>
                                            <option value="2">Mới</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div>
                            </div>

                            <div class="col-md-2 ml-md-auto">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">LỌC</button>
                                </div>
                            </div>
                        </div>
                        <!--End filter-->

                        <section id="properties" class="display-lines">
                            <div class="property" th:each="item, itemId : ${listPostFinal}">
                                <figure class="tag status">Bán</figure>
                                <figure class="type" th:title="${item.value.catalog}"><img
                                        src="assets/img/property-types/single-family.png" alt=""></figure>
                                <div class="property-image">
                                    <a th:href="@{/property-detail/{catalog}/{id}(catalog=${item.value.catalog == 'house'} ? 'house' : 'land', id=${item.key})}">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a th:href="@{/property-detail/{catalog}/{id}(catalog=${item.value.catalog == 'house'} ? 'house' : 'land', id=${item.key})}">
                                            <h3 th:utext="${item.value.title}"></h3>
                                        </a>
                                        <figure th:utext="${item.value.city} + ', ' + ${item.value.district}"></figure>
                                    </header>
                                    <div class="tag price" th:utext="${item.value.price}"></div>
                                    <aside>
                                        <p>Tôi là một người luôn phát triển bản thân và dành thời gian để tiếp tục học
                                            tập mặc dù nó không phải là yêu cầu trực tiếp của công việc. Tôi thấy rằng
                                            quá trình phát triển là sự kết hợp của những gì bạn nghiên cứu cả trực tiếp
                                            và gián tiếp trong quá trình làm việc của bản thân.
                                        </p>
                                        <dl>
                                            <dt>Loại tin:</dt>
                                            <dd>Bán</dd>
                                            <dt>Diện tích:</dt>
                                            <dd>860 m<sup>2</sup></dd>
                                            <dt>Phòng ngủ:</dt>
                                            <dd>3</dd>
                                            <dt>Phòng tắm:</dt>
                                            <dd>2</dd>
                                        </dl>
                                    </aside>
                                    <a th:href="@{/property-detail/{catalog}/{id}(catalog=${item.value.catalog == 'house'} ? 'house' : 'land', id=${item.key})}"
                                       class="link-arrow">Chi
                                        tiết</a>
                                </div>
                            </div><!-- /.property -->


                            <!-- Pagination -->
                            <div class="center">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul><!-- /.pagination-->
                            </div><!-- /.center-->
                        </section><!-- /#properties-->
                    </section><!-- /#results -->
                </div><!-- /.col-md-9 -->
                <!-- end Results -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <div th:replace="/includes/search-property :: search-property"></div>
                        <div th:replace="/includes/feature-property :: feature-property"></div>
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
</div>
</body>
</html>