<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="feature-property" id="feature-property">
    <aside id="featured-properties">
        <header><h3>Tin nổi bật</h3></header>
        <div class="property small">
            <a href="property-detail.html">
                <div class="property-image">
                    <img alt="" src="/assets/img/properties/property-06.jpg">
                </div>
            </a>
            <div class="info">
                <a href="property-detail.html"><h4>79 Mậu Thân</h4></a>
                <figure>Quận Ninh Kiều, TP.Cần Thơ</figure>
                <div class="tag price">3.000.000.000 VNĐ</div>
            </div>
        </div><!-- /.property -->
        <div class="property small">
            <a href="property-detail.html">
                <div class="property-image">
                    <img alt="" src="/assets/img/properties/property-09.jpg">
                </div>
            </a>
            <div class="info">
                <a href="property-detail.html"><h4>Số 1/1 3/2</h4></a>
                <figure>Quận Ninh Kiều, TP.Cần Thơ</figure>
                <div class="tag price">4.000.000.000 VNĐ</div>
            </div>
        </div><!-- /.property -->
        <div class="property small">
            <a href="property-detail.html">
                <div class="property-image">
                    <img alt="" src="/assets/img/properties/property-03.jpg">
                </div>
            </a>
            <div class="info">
                <a href="property-detail.html"><h4>158 Trần Hưng Đạo</h4></a>
                <figure>Quận Ninh Kiều, TP.Cần Thơ</figure>
                <div class="tag price">6.000.000.000 VNĐ</div>
            </div>
        </div><!-- /.property -->
    </aside><!-- /#featured-properties -->
</div>
</body>
</html>