<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="search-property" id="search-property">
    <aside id="edit-search">
        <header><h3>Tìm BĐS</h3></header>
        <form role="form" id="form-sidebar" class="form-search" action="properties-listing.html">
            <div class="form-group">
                <select name="type">
                    <option value="">Loại tin</option>
                    <option value="1">Cho thuê</option>
                    <option value="2">Bán</option>
                </select>
            </div><!-- /.form-group -->
            <div class="form-group">
                <select name="country">
                    <option value="">Tỉnh/Thành phố</option>
                    <option value="1">Cần Thơ</option>
                    <option value="2">Sóc Trăng</option>
                    <option value="3">Cà Mau</option>
                    <option value="4">Kiên Giang</option>
                    <option value="5">Đồng Tháp</option>
                </select>
            </div><!-- /.form-group -->
            <div class="form-group">
                <select name="city">
                    <option value="">Quận/Huyện</option>
                    <option value="1">Ninh Kiều</option>
                    <option value="2">Bình Thủy</option>
                    <option value="3">Cái Răng</option>
                </select>
            </div><!-- /.form-group -->
            <!--<div class="form-group">
                <select name="district">
                    <option value="">District</option>
                    <option value="1">Manhattan</option>
                    <option value="2">The Bronx</option>
                    <option value="3">Brooklyn</option>
                    <option value="4">Queens</option>
                    <option value="5">Staten Island</option>
                </select>
            </div>--><!-- /.form-group -->
            <div class="form-group">
                <select name="property-type">
                    <option value="">Loại BĐS</option>
                    <option value="1">Căn hộ</option>
                    <option value="2">Chung cư</option>
                    <option value="3">Đất</option>
                    <option value="4">Biệt thự</option>
                </select>
            </div><!-- /.form-group -->
            <div class="form-group">
                <select name="form-sale-price">
                    <option value="">Giá</option>
                    <option value="1">500.000 VNĐ +</option>
                    <option value="2">1.000.000 VNĐ +</option>
                    <option value="3">10.000.000 VNĐ +</option>
                    <option value="3">100.000.000 VNĐ +</option>
                    <option value="4">500.000.000 VNĐ +</option>
                    <option value="4">1.000.000.000 VNĐ +</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Tìm ngay</button>
            </div><!-- /.form-group -->
        </form><!-- /#form-map -->
    </aside><!-- /#edit-search -->
</div>
</body>
</html>